.App {
  text-align: center;
  background: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







.rt{
  display: flex;
  height:100vh;
  background: rgb(71, 81, 134);

}
.rt-font{
 display: flex; 
 color: #ffffff;
 gap: 10%;

}
.rt-icon{
  display: flex; 
  color: #ffffff;

 
 }
.navbar{
  display: grid;
  place-content: center;
  background: #0e2b61;
  border-radius: 10%;
  height:100vh;
  width: 10vw;
}


.maincomp{
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgb(137, 243, 160);
  

}
.pt-main{
  display: grid;
  place-content: center;
  background:#08447c;
  height: 10vh;

}
.abcomp{
  width: 100%;
  background: rgb(65, 83, 69);
}
.contuser{
  display: grid;
  background: rgb(159, 245, 89);
}
.nameuser{
  display: grid; 
  place-content: center;
  height: 10vh;
  margin-top: 2%;
  margin-bottom: 2%;
  background: #0e2b61;
  color:antiquewhite
}

.wrapper-grid{
  background: rgb(116, 55, 55);
  /*width: 100vw;*/
  display: inline-grid;
  height: 50vh;
  place-content: center;
}
.cont-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  position: relative;
  gap: 5vh;
  width: 100%;
  background: black;
  overflow-y: auto;
  overflow-x: auto;

}

.grid-user{
  display: grid;
  place-content: center;
  background: #0c61ff;
  height: 20vh;
  margin:1vh;
 
}
.li-num{
  display: flex;
  flex-direction: row;
  height: 5vh;
  color: #ffffff;
}
 .pag{
   display: flex;
 }